{% extends 'base1.html' %}
<!-- -- -->
{% block content %}
<div class="container mt-5">
  <h2 class="text-center mb-4">Our Key Partnerships</h2>

  <div class="row">
    {% for partner in partnerships %}
    <div class="col-md-4 mb-4">
      <div class="card shadow-sm text-center p-3">
        {% if partner.icon %}
        <img
          src="{{ partner.icon.url }}"
          class="img-fluid rounded-circle mb-2"
          width="70"
          height="70"
        />
        {% endif %}
        <h5 class="card-title">{{ partner.name }}</h5>
        <p class="card-text">{{ partner.Description|truncatechars:100 }}</p>
        <span class="badge bg-info">{{ partner.business_type }}</span><br />
        {% if partner.Link %}
        <a
          href="{{ partner.Link }}"
          class="btn btn-outline-primary mt-2 w-100"
          target="_blank"
          >Visit Partner</a
        >
        {% endif %}
      </div>
    </div>
    {% empty %}
    <p class="text-center">No partnerships found.</p>
    {% endfor %}
  </div>
</div>
{% endblock %}
